{
  "root": true,
  "ignorePatterns": ["src/test/**/*", "dist/", "node_modules/"],

  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "simple-import-sort"],
  "extends": ["prettier", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "simple-import-sort/imports": 2,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
      },
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "peerDependencies": true,
        "bundledDependencies": true,
        "includeTypes": true,
      },
    ],
    "prefer-const": "error",
    "import/named": "error",
    "import/no-unresolved": "error",

    "@typescript-eslint/ban-ts-comment": "off",
  },
  "settings": {
    "import/resolver": {
      "typescript": {}, // this loads <rootdir>/tsconfig.json to eslint
    },
  },

  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  }
}
