# editor config
.vscode/*
!.vscode/launch.json

# builds
dist
.env
meta.json

# misc
.DS_Store

# dependencies
node_modules
/.pnp
.pnp.js
.pnp.*
.yarn/*
!.yarn/releases

# claude code
.claude

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
