.vscode/*
!.vscode/launch.json

dist
.env

.DS_Store

node_modules
/.pnp
.pnp.js
.pnp.*
.yarn/*
!.yarn/releases
examples/.yarn

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

docs
src/generated