name: Lint

on:
  push:
    branches: ['**']

jobs:
  install-build-lint-and-deploy:
    name: Install dependencies, build and lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.npmrc'

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Lint
        run: bun run lint
